*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

:root {
  --blue-500: #1a194d;
  --blue-400: #62618f;
  --orange-500: #ee4d38;

  --gray-400: #cbcbd9;
  --gray-300: #f8f8ff;
  --white: #ffffff;
}

body,
input,
button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: var(--blue-400);
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--blue-500);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.wrapper {
  margin-left: 26rem;
  padding: 6.4rem;
}
